<center><ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="logo-instagram"></ion-icon>REGISTRARSE</ion-title>
  </ion-toolbar>
</ion-header></center>

<ion-content padding>
  <ion-item>
      <ion-label>
          Email
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item-divider>
      <ion-button size="larger" (click)="onRegister()">Registrar</ion-button>
      <ion-button size="larger" routerLink="/login">Entrar</ion-button>
  </ion-item-divider>
</ion-content> 
